@import "tailwindcss";

html,
body {
	font-family: "Geist Mono", Menlo, Consolas, Monaco, Liberation Mono, Lucida
		Console, monospace;
}

:root {
	--sh-class: #2d5e9d;
	--sh-identifier: #000;
	--sh-sign: #a1a1a1;
	--sh-property: #0550ae;
	--sh-entity: #b8bd69;
	--sh-jsxliterals: #6266d1;
	--sh-string: #b8bd69;
	--sh-keyword: #de583b;
	--sh-comment: #a19595;
}

.font-sans {
	font-family: "Geist", sans-serif;
}
